body {

    margin: 10px;
    font-family: 'Courier New', Courier, monospace;
    color:whitesmoke;
}


.grid-container {

    background-color: lightgray;
    display:grid;
    grid-template-rows: 200px auto; /*Top row and main area*/
    grid-template-columns:1,5fr 3fr; /* Two equal-width columns*/
/*Space between items*/
margin:10px;
}




i {
    margin: 10px;
}
.item1 {
    grid-column: span 2; /* Item1 spans both columns */
background-color: steelblue;
text-align: center;

}

 .photo {
    float: left;
   width:50px;
}

.item2,.item3 {
    background-color: steelblue;
    margin:20px;
    padding: 10px;
    text-align: left;
    
}